<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Groupie Tracker</title>
</head>

<body>
    <h1>Search Results</h1>
  <div class="artist-list">
    {{range .}}
    <div class="card">
      <a href="/artist/{{.ID}}">
        <!-- Ajoute le lien vers la page artist.html avec l'ID de l'artiste -->
        <div class="image-container">
          <img src="{{.Image}}" alt="{{.Name}}" />
        </div>
        <h2>{{.Name}}</h2>
        <p>Date de création : {{.CreationDate}}</p>
      </a>
    </div>
    {{end}}
  </div>
  <a href="/" class="btn btn-primary" style="background-color: #4B6973;">Go Home</a>
</body>

</html>